
.cbt-content {
    background: white;
    padding: 2rem 3em;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cbt-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.tab {
    margin-top: 2.2em;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Urbanist", Helvetica;
    color: #2e55dd;
    font-size: 1rem;
    font-weight: 600;
    padding: .9em 1em;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 0;
    line-height: 20.3px;
    white-space: nowrap;
}

.tab button:hover {
    background-color: #ddd;
}

.tab .active {
    background-color: #f4f6ff;
    border-bottom: 1px solid #2e55dd;
}

.question-section {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.question-container {
    margin-top: 1rem;
}

#progress {
    align-self: stretch;
    font-family: "Urbanist", Helvetica;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: normal;
}

#question-image-container{
    margin-top: 1em;
}

#question-text {
    margin-top: 1.5em;
    font-weight: 700;
    color: #414141;
    font-size: 1.3rem;
    line-height: 32px;
    font-family: "Urbanist", Helvetica;
    letter-spacing: 0;
}

.options-container {
    margin-top: 1.5em;
}

.options-container label {
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: "Urbanist", Helvetica;
    font-weight: 500;
    margin-bottom: .8em;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.options-container label:hover {
    color: #2e55dd;
}

.options-container input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #8C8C8C;
    border-radius: 50%;
    outline: 2px solid #8C8C8C;
    outline-offset: 2.5px;
    transition: border 0.2s, outline 0.2s;
    cursor: pointer;
}

.options-container input[type="radio"]:hover {
    background-color: #7795FF;
    border-color: #7795FF;
}

/* Styles for the checked state */
.options-container input[type="radio"]:checked {
    background-color: #2e55dd;
    border-color: #2e55dd;
}

.options-container input[type="radio"]:unchecked {
    background-color: #8C8C8C;
    border-color: #8C8C8C;
}

/* Styles for the focus state */
.options-container input[type="radio"]:focus {
    outline: 2px solid #2e55dd;
}

.controls-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-section div {
    display: flex;
    align-items: center;
}

.controls-section .back {
    border-radius: 32px;
    padding: .5em 1em;
    gap: 10px;
    border: 1.5px solid #2e55dd;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.controls-section .back p {
    width: fit-content;
    font-family: "Urbanist", Helvetica;
    font-weight: 500;
    color: #2e55dd;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.controls-section .next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    padding: .5em 1em;
    gap: 10px;
    background-color: #2e55dd;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.back:active,
.next:active,
.submit-button:active {
    transform: scale(0.98);
}

.controls-section .next span {
    font-family: "Urbanist", Helvetica;
    font-weight: 500;
    color: #fff;
    padding: .2em 1em;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.controls-section .next img {
    width: 20px;
    height: 20px;
}

.questions-nav-wrapper {
    margin-top: 2rem;
    background-color: #f6f6f6;
    margin-bottom: 3rem;
    padding: .5em;
}

.text-wrapper-2 {
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #252323;
    font-size: 16px;
    letter-spacing: 0;
}

.text-wrapper-3 {
    font-weight: 600;
}

#question-nav {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 5px;
    max-width: calc((40px + 5px) * 30);
}

.question-box {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8c8c8c;
    font-family: "Urbanist", Helvetica;
    font-weight: 500;
    border-radius: 4px;
    font-size: .8rem;
    cursor: pointer;
}

.question-box.answered {
    background-color: #426bff;
    color: white;
}

.question-box.unanswered {
    background-color: #e6e6e6;
    color: #696969;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Define the fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

/* Apply the fade-out animation */
.fade-out {
    animation: fadeOut 0.5s ease-in;
}