@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Urbanist:500,400,600|STIX+Two+Text:700|Inter:var(--body-large-400-font-weight)|BioRhyme:wght@300;400;800&display=swap|Bungee Color:wght@400&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Chrome, Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard syntax */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: .5em; /* Width of the scrollbar */
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar handle color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}