.learning-carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.learning-carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.learning-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.learning-slide {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 350px; /* Increased height for better scaling */
    background-color: #fff;
    margin-top: 1em;
}

.learning-slider-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.learning-slider-text {
    color: rgba(47, 85, 221, 1);
    font-family: "Urbanist";
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 80%;
    font-size: 2.5rem; /* Increased font size */
    max-width: 500px;
}

.learning-slider-content p {
    color: rgba(78, 85, 102, 1);
    font-family: "Urbanist";
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    font-size: 1.2rem; /* Slightly larger font size */
    max-width: 600px;
}

.learning-graphics img {
    width: 80%; /* Adjusted to fit larger screen width */
    height: auto;
}

#learning-prevBtn,
#learning-nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #407bff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
}

#learning-prevBtn {
    left: 10px;
}

#learning-nextBtn {
    right: 10px;
}

.learning-register-button {
    background-color: rgba(66, 108, 255, 1);
    border-radius: 6px;
    border: 0.75px solid rgba(119, 149, 255, 1);
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    width: 250px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}
