.learning-page {
    margin-left: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #636363 transparent;
    font-family: "Urbanist";
}

.learning-page::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

.learning-page::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 20px;
}

.learning-page::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.learning-page::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll-banner {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    padding-top: 2em;
}

.scroll-banner::-webkit-scrollbar {
    height: 5px;
    background-color: white;
}

.scroll-banner::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.scroll-banner::-webkit-scrollbar-track {
    background: white;
}

.banner {
    width: 500px;
    display: flex;
    background-color: #426CFF;
    border-radius: 15px;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    cursor: pointer;
}

.banner img {
    width: 35%;

}

.banner:hover {
    transform: translateY(-8px);
}

.banner-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 15px;
}

.banner-content p {
    color: #fff;
    font-size: 1rem;
    font-family: "Urbanist";
    font-weight: 500;
    text-transform: uppercase;
    white-space: wrap;
}

.banner-content span {
    color: #fff;
    font-size: .9rem;
    font-family: "Urbanist";
    font-weight: 400;
    margin-top: .5em;
    white-space: wrap;
}

.banner-content button {
    width: 140px;
    background-color: #FC9338;
    color: #fff;
    border: none;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.banner-content button:active {
    transform: scale(0.9);
}

.banner-content button img {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    padding: 4px;
}

.learn-category {
    margin-top: 30px;
}

.learn-categories {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.cat-box1 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #EBE3FF;
    padding: 1em;
    border-radius: 10px;
    gap: 10px;
    width: 30rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cat-box1:active {
    transform: scale(.92);
}

.cat-box1:hover {
    transform: translateY(-5px);
}

.cat-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cat-text p {
    color: #202020;
    font-size: 1rem;
    font-family: "Urbanist";
    font-weight: 700;
    word-wrap: break-word;
}

.cat-text span {
    color: #5F5F5F;
    font-size: .8rem;
    font-family: "Urbanist";
    font-weight: 400;
    word-wrap: break-word;
}

.kids {
    background-color: #E7E7E7;
}

.coming-banner {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF000026;
    color: #FF3030;
    font-size: .9rem;
    font-family: "Urbanist";
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.title {
    color: var(--color-gray-100, #202020);
    font-size: 1.2rem;
    font-family: "Urbanist";
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
}

.course {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
    width: 97%;
}

.course-title {
    color: var(--color-gray-100, #202020);
    font-size: 20px;
    font-family: "Urbanist";
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 20px;
}

.learn-courses {
    display: grid;
    padding: .5em;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.course-box {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: 1px solid gray;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    cursor: pointer;
}

.course-box:hover {
    transform: translateY(-10px);
}

.course-box img {
    width: 100%;
    height: auto;
    max-height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.course-content {
    text-align: center;
    width: 100%;
}

.course-label {
    background-color: #426CFF1A;
    color: #426CFF;
    font-size: 12px;
    font-family: "Urbanist";
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 10px;
}

.course-title-text {
    color: var(--color-gray-100, #202020);
    font-size: 20px;
    font-family: "Urbanist";
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    margin: 20px 0;
}

.course-description {
    color: #4D4D4D;
    font-size: 10px;
    font-family: "Urbanist";
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    margin-top: 5px;
    text-align: left;
}

.course-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-footer img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 5px;
    margin-top: 15px;
}

.course-footer p {
    color: #202020;
    font-size: 12px;
    font-family: "Urbanist";
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.course-footer p span {
    color: #696969;
    font-size: 10px;
    font-family: "Urbanist";
    font-weight: 400;
    word-wrap: break-word;
}

.course-footer button {
    background-color: transparent;
    color: #FC9338;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Urbanist";
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
    align-self: stretch;
    margin-top: 10px;
    border: 1px solid #FC9338;
}

.course-footer button:active {
    transform: scale(0.9);
}

.shimmer-box {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    box-shadow: none;
    border: none;
}

@keyframes shimmer {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}

.error-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe6e6;
    color: #ff4d4d;
    font-size: 16px;
    font-family: "Urbanist";
    font-weight: 500;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-box .error-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.error-box p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #ff4d4d;
}