* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modal Content */
.select-exams {
    background: white;
    padding: 2em;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    margin-bottom: 1em;
}

.title {
    width: fit-content;
    font-family: "Urbanist", Helvetica;
    font-weight: 700;
    color: #426bff;
    font-size: 1.3rem;
    letter-spacing: 0.30px;
    line-height: normal;
}

.close-button {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #426bff;
    padding: .8em;
}

.close-button-text {
    position: relative;
    width: 100%;
    margin-top: -1.00px;
    font-family: "Urbanist", Helvetica;
    font-weight: 700;
    color: #426bff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.30px;
    line-height: normal;
}

.frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 1em;
}

.subtitle {
    width: fit-content;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.11px;
    line-height: normal;
    white-space: nowrap;
}

.subtitle .span {
    color: #252323;
    letter-spacing: -0.02px;
}

.subtitle .text-wrapper-2 {
    color: #696969;
    font-size: 1rem;
    letter-spacing: -0.02px;
}

.frame-3 {
    display: grid;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 4px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 1rem;
    margin-top: 1em;
    /* overflow-y: auto; */
    border: 0.4px solid;
    border-color: #e0e0e0;
    overflow: hidden;
}

.checkbox-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    background-color: #426bff;
    border-radius: 2px;

}

.frame-3 .text-wrapper-3 {
    width: fit-content;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #171717;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.frame-4 {
    display: flex;
    margin-top: 1rem;
    gap: 50px;
}

.frame-4 .item {
    font-family: "Urbanist", Helvetica;
    font-weight: 300;
    color: #1a1a1a;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20.3px;
    margin-top: 1rem;
    width: 250px;
    height: 40px;
    padding: .5em;
}

.duration-header {
    font-family: "Urbanist", Helvetica;
    font-weight: 300;
    color: #252323;
    font-size: 1rem;
    letter-spacing: -0.11px;
    line-height: normal;
}

.duration-content {
    display: flex;
    gap: 20px;
}

.duration-content input {
    font-family: "Urbanist", Helvetica;
    font-weight: 300;
    color: #1a1a1a;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 20.3px;
    margin-top: .8rem;
    height: 40px;
    padding: .5em;
}

.frame-5 {
    margin-top: 3rem;
    display: flex;
    width: 100%;
}

.frame-6 {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px;
    gap: 20px;
    cursor: pointer;
    background-color: #2e55dd;
    border-radius: 8px;
}

.select-exams .text-wrapper-5 {
    width: fit-content;
    font-family: "Urbanist", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.select-exams .double-left {
    width: 24px;
    height: 24px;
}

#feedback {
    margin-top: 1em;
    color: red;
    font-family: "Urbanist", Helvetica;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}