.main-app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 65px;
    background-color: #426bff;
    align-items: center;
    gap: 20px;
    padding-top: 10em;
}

.sidebar-item {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    font-family: "Urbanist";
    font-weight: 500;
    font-size: .8rem;
    justify-content: center;
    padding: 2.5em 2em;
    align-items: center;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

.sidebar-item:hover {
    background: #7795FF;
}

.sidebar-item img {
    width: 24px;
    height: 24px;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 65px;
    width: calc(100% - 65px);
    z-index: 1000;
}

.drag-region {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    height: 54px;
    background-color: #fff;
    box-shadow: inset 0px -1px 0px #e8eaef;
    -webkit-app-region: drag;
}

.logo,
.search,
.window-controls {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
}

.logo img.graduation-cap {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-left: 20px;
}

.logo .link-skool {
    font-family: "STIX Two Text", Helvetica;
    font-weight: 700;
    font-size: 24px;
}

.logo .text-wrapper-7 {
    font-style: italic;
    color: #426bff;
}

.logo .text-wrapper-8 {
    font-style: italic;
    color: #fc9338;
}

/* Style for the search section */
.search {
    display: flex;
    width: 400px;
    align-items: center;
    background-color: #F3F3F4;
    border-radius: 4px;
    padding: .5rem;
}

.search-here {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-family: "Urbanist";
    font-weight: 400;
    line-height: 0.03em;
    font-size: 1rem;
}

.search-here::placeholder {
    color: black;
}

.search img.img-2 {
    margin-right: 5px;
}

.window-controls {
    display: flex;
    gap: 5px;
    margin-right: 8px;
}

/* Individual Button Styling */
.window-controls .button {
    display: flex;
    width: 40px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.window-controls .button img.icon {
    width: 20px;
    height: 20px;
    background: #000;
}

.window-controls .button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Light hover effect */
}

.window-controls .button#close-button:hover {
    background-color: #E81123;
    /* Red hover effect for close button */
}

#content {
    margin-top: 2.5em;
    padding: 1.5em 0;
    background-color: #f8f9fa;
    overflow-y: hidden;
    width: 100%;
}
/*Homepage styles*/
.homepage {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* Adjust width */
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 280px;
    background-color: #fff;
    margin-top: 1em;
}

.slider-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.graphics img {
    width: 65%;
    height: auto;
}

/* Navigation Buttons */
#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #407bff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


.slider-text {
    color: rgba(47, 85, 221, 1);
    font-family: "Urbanist";
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 80%;
    font-size: 2rem;
    max-width: 400px;
}

.slider-content p {
    color: rgba(78, 85, 102, 1);
    font-family: "Urbanist";
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    font-size: 1rem;
    max-width: 500px;

}

.graphics img {
    height: 100%;
}

.register-button {
    background-color: rgba(66, 108, 255, 1);
    border-radius: 6px;
    border: .75px solid rgba(119, 149, 255, 1);
    align-items: center;
    justify-content: center;
    padding: .8em;
    width: 250px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

.homepage .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(rgba(249, 249, 249, 1), rgba(205, 216, 255, 1));
    padding-bottom: 5em;
}

.homepage .select-an-exam-to {
    width: fit-content;
    font-family: "Urbanist";
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: #407bff;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
    margin-top: 1em;
}

.div-2,
.div-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    overflow: auto;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5,
.category-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
    max-width: 333px;
    box-sizing: border-box;
    background: #FFDBBC;
    border-radius: 8px;
    cursor: pointer;
}

.category-2 {
    background-color: var(--secondary-100);
}

.category-3,
.category-5 {
    background: #E1F7E3;
}

.category-4,
.category-6 {
    background: rgba(235, 235, 255, 1);
}

.category-2:active,
.category-3:active,
.category-4:active,
.category-5:active,
.category-6:active,
.category-7:active {
    transform: scale(0.95);
}

.image-wrapper,
.img-wrapper,
.frame-2,
.frame-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 5px;
}

.image,
.image-2,
.image-3,
.img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.info,
.info-2,
.info-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
}

.text-wrapper,
.text-wrapper-2,
.text-wrapper-3,
.text-wrapper-4,
.text-wrapper-5 {
    font-family: "Urbanist", Helvetica;
    font-size: 16px;
    color: var(--gray-900);
    text-align: left;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .div-2 {
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
    }

    .category-2,
    .category-3,
    .category-4,
    .category-5,
    .category-6,
    .category-7 {
        max-width: 100%;
        flex-direction: column;
    }

    .image-wrapper,
    .img-wrapper,
    .frame-2,
    .frame-3 {
        padding: 8px;
    }

    .image,
    .image-2,
    .image-3,
    .img {
        width: 50px;
        height: 50px;
    }

    .text-wrapper,
    .text-wrapper-2,
    .text-wrapper-3,
    .text-wrapper-4,
    .text-wrapper-5 {
        font-size: 14px;
        text-align: center;
    }
}

.hidden {
    display: none;
}