.answer-question {
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #ffffff;
}

.answer-question .element-nav {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px 16px 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #426bff;
  box-shadow: inset 0px -1px 0px #e8eaef;
}

.answer-question .LOGO {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.answer-question .graduation-cap {
  position: relative;
  width: 40.5px;
  height: 40px;
  margin-left: -0.25px;
}

.answer-question .link-skool {
  position: relative;
  width: fit-content;
  font-family: "STIX Two Text", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 74px;
  white-space: nowrap;
}

.answer-question .text-wrapper {
  font-style: italic;
  color: #ffffff;
}

.answer-question .span {
  font-style: italic;
  color: #fc9338;
}

.answer-question .search {
  display: flex;
  width: 667px;
  height: 40px;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  position: relative;
  background-color: #7795ff;
  border-radius: 4px;
  overflow: hidden;
}

.answer-question .magnifying-glass {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
}

.answer-question .search-here {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e0e0e0;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.answer-question .BTNS {
  position: relative;
  flex: 0 0 auto;
}

.answer-question .frame {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: flex-start;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 787px;
  left: 120px;
  background-color: #f6f6f6;
  border-radius: 0px 16px 16px 16px;
}

.answer-question .attempted-questions-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 0px;
  position: relative;
  flex: 0 0 auto;
}

.answer-question .attempted-questions {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #252323;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}



.answer-question .div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px 4px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.answer-question .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
  background-color: #426bff;

}

.answer-question .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Urbanist", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.answer-question .frame-2 {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 0.5px solid;
 
}

.answer-question .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Urbanist", Helvetica;
  font-weight: 500;
  color: #696969;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.answer-question .frame-3 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 188px;
  left: 120px;
}

.answer-question .frame-4 {
  display: flex;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}









.answer-question .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.answer-question .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.answer-question .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1.00px;
}



.answer-question .frame-8 {
  display: flex;
  flex-direction: column;
  width: 98px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.answer-question .frame-9 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.answer-question .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.answer-question .text-wrapper-7 {
  position: relative;
  width: 66px;
 
}

.answer-question .text-wrapper-8 {
  width: 66px;
  font-weight: 600;
  color: #2e55dd;
  font-size: 18px;
  line-height: normal;
  position: relative;
  font-family: "Urbanist", Helvetica;
  letter-spacing: 0;
}

.answer-question .frame-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.answer-question .frame-11 {
  display: flex;
  width: 152px;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  border: 1.5px solid;
  border-color: #2e55dd;
}

.answer-question .back {
  position: relative;
  width: 20px;
  height: 20px;
}

.answer-question .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Urbanist", Helvetica;
  font-weight: 500;
  color: #2e55dd;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.answer-question .frame-12 {
  display: flex;
  width: 198px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
  position: relative;
  background-color: #2e55dd;
  border-radius: 32px;
  overflow: hidden;
}

.answer-question .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Urbanist", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.answer-question .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 121px;
  left: 920px;
}

.answer-question .frame-14 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  border-radius: 24px;
}

.answer-question .stopwatch {
  position: relative;
  width: 36px;
  height: 36px;
}

.answer-question .frame-15 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  border: 0px none;
}

.answer-question .frame-16 {
  display: inline-flex;
  flex-direction: column;
  height: 18px;
  align-items: flex-start;
  gap: 2.99px;
  position: relative;
  flex: 0 0 auto;
}

.answer-question .text-wrapper-11 {
  position: relative;
  width: 28.42px;
  height: 17.95px;
  margin-top: -0.50px;
  font-family: "Urbanist", Helvetica;
  font-weight: 600;
  color: #ff4848;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.answer-question .frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.99px;
  position: relative;
  flex: 0 0 auto;
}



